:root{
    --base-clr: #fff;
    --box-clr:#ffffff;
    --bg-clr:#1c1c1c;
    --bg-clr-main:#F4F4F4;
    --accent-crl-purple:#6943FF;
    --accent-crl-lila:#B295FF;
    --txt-clr-h3:#5a537b;
    --txt-clr-p:#353535;
  
}

.darkmode{
    --bg-clr:#1c1c1c;
    --base-clr: #fff;
    --bg-clr-main:#1F2937;
    --box-clr:#273549;
    --accent-crl-purple:#6943FF;
    --accent-crl-lila:#B295FF;
    --txt-clr-h3:#CCC1FF;
    --txt-clr-p:#FFF;

}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:var(--bg-clr);
    font-family: "Inter", sans-serif;
}

section{
    
    width: 550px;
    height: 730px;
    margin: 50px auto;
}


.header-converter{
    width: 550px;
    height: 258px;
    background:var(--accent-crl-purple);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header-converter > h2 {
    margin-top: 33px;
    font-weight: 800;
    color: var(--base-clr);

}

.header-converter input {
    margin-top: 30px;
    padding:10px;
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid var(--accent-crl-lila);
    background-color: var(--accent-crl-purple);
    color:var(--base-clr);
    font-size: 58pt;
    font-weight: 900;
    text-align: center;
}
header > button{
    font-family: inherit;
    margin-top: 27px;
    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: none;

}

.main-converter{
    width: 550px;
    height: 390px;
    background: var(--bg-clr-main);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 500px;
    height: 108px;
    background: var(--box-clr);
    margin-top: 10px;
    text-align: center;

}

.box > h3{
    margin-top: 15px;
    font-weight: 500;
    font-size: 20pt;
    color: var(--txt-clr-h3);

}
.box > p{
    color: var(--txt-clr-p);
    margin-top: 15px;
    font-size: 11pt;
}

/* Theme-switch button */

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background: var(--bg-clr-main);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

}

#theme-switch svg{
    fill: var(--accent-crl-purple);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}